<!DOCTYPE html>
<html lang="en">
<head>
    <title>product.name</title>
    <%- include('partials/head') %>
</head>
<body>
    <div class="container">
        <h1><%= product.name %></h1>
        <ul>
            <li>Price: $<%= product.price %></li>
            <li>Category: <%= product.category %></li>
        </ul>
        <br>
        <a href="/products" class="text-decoration-none">All Products</a>
        <br>
        <a href="/products/<%= product.id%>/edit" class="text-decoration-none">Edit</a>
    </div>
</body>
</html>